*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

.page {
  height: 100%;
  min-width: 1200px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  align-items: flex-end;
  margin: auto;
  align-self: center;
}

.content__list-container {
  width: 399px;
  height: 298px;
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  max-width: 399px;
  block-size: 100%;
  inline-size: 100%;
}

.result {
  height: 100%;
  min-width: 711px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}

.search-form {
  width: 100%;
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.result__video-container {
  position: relative;
  height: 390px;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__list-item:last-child {
  margin-bottom: 0;

}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
  min-height: 103px;
}

.content__video-card-thumbnail {
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  height: 103px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-basis: 186px;
  flex-grow: 1;
}

.search-form__fieldset-title {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  color: #FFF;
  text-decoration: none;
  display: block;
}

.content__video-card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 190px;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 190px;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}


.search-form__fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: pointer;
}

.search-form__label-text {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #FFF;
}

.search-form__textfield {
  color: #FFF;
  font-family: inherit;
  font-size: inherit;
  width: 220px;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #FFF;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.search-form__checkbox-list > .search-form__label:hover {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  width: 17px;
  height: 17px;
  display: block;
  margin-right: 5px;
  border: 1px solid #FFF;
  z-index: 0;
  align-self: center;
  align-items: flex-start
}

input[type="checkbox"]:checked + span {
  display: flex;
  vertical-align: middle;
}

input[type="checkbox"]:checked + span::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px; 
  background: #FFF;
  margin: auto;
}

.button {
  color: inherit;
  background: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 700;
  border: 1px solid currentColor;
  line-height: normal;
}

.button:focus {
  outline: none;
  box-shadow: none;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid #FFF;
}

.button:active {
  background: #545050;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: end;
}

.more-button {
    width: 100%;
    height: 34px;
} 

.content__card-link_current {
  background: #545050;
}

.content__card-link:focus {
  outline: none;
  box-shadow: none;
}

.content__card-link:focus-visible {
  border: 1px solid #FFF;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background: #545050;
}

